* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

h1 {
    font-family: 'Taviraj', serif;
    font-size: 50px;
    text-align: center;
    text-shadow:
		-1px -1px 0 hotpink,
		1px -1px 0 hotpink,
		-1px 1px 0 hotpink,
		1px 1px 0 hotpink;
}

.row {
    max-width: 1140px;
    margin: 2% auto;
    position: relative;
}

/* create recipe page (index.html) */

body.index-page {
    background-image: url(/images/food4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

button#create_recipe {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
}

.container-index {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 1140px;
}

#create_recipe {
    background-color: initial;
}

#create_recipe a:link, a:visited {
    text-decoration: none;
}

#create_recipe a:hover {
    color: hotpink;
}

.filter-field-div {
    text-align: center;
}

input#input {
    background-color: initial;
}

input[type=text] {
    background-color: initial;
}

#recipes {
    margin-top: 6%;
    text-align: center;
}

#recipes p {
    margin-bottom: 2%;
    margin-left: 33%;
    position: relative;
    width: 400px;
}

#recipes p i {
    color: dodgerblue;
    left: 30%;
    border-bottom: 2px solid black;
    position: absolute;
}

#recipes p i:hover {
    cursor: pointer;
    transform: scale(1.10);
}

#recipes p a {
    border-bottom: 2px solid black;
}

#recipes p a:hover {
    border-bottom: 2px solid hotpink;
}

#recipe_form {
    text-align: center;
}


/* Remove button styling ingredients (edit.html) */

body.edit-page {
    background-image: url(/images/food4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

label {
    padding: 0px 6px;
}

button.remove_button {
    background-color: red;
    color: yellowgreen;
    padding: 2px 2px 0px 2px;
}

button.remove_button:focus {
    background-color: yellowgreen;
    color: red;
    outline: none;
}

#hide-completed {
    text-align: center;
}

#ingredient-form {
    text-align: center;
}

.instruction-box {
    text-align: center;
}

.instruction-box span a i {
    font-size: 300%;
}

/* recipe names/links (index.html) */
#recipes a:link, a:visited {
    text-decoration: none;
}

#recipes a:hover {
    color: hotpink;
    text-decoration: overline;
}

#instruction_body {
    background-color: initial;
    width: 50%;
}

.row span a {
    left: 10%;
    position: absolute;
    top: 36%;
}
