* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

h1 {
    font-family: 'Taviraj', serif;
    font-size: 50px;
    text-align: center;
    text-shadow:
		-1px -1px 0 hotpink,
		1px -1px 0 hotpink,
		-1px 1px 0 hotpink,
		1px 1px 0 hotpink;
}

.row {
    max-width: 1140px;
    margin: 2% auto;
    position: relative;
}

/* create recipe page (index.html) */

body.index-page {
    background-image: url(/images/food4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* button#create_recipe {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
} */

.container-index {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 1140px;
}

#create_recipe {
    background-color: initial;
}

#create_recipe a:link, a:visited {
    text-decoration: none;
}

#create_recipe a:hover {
    color: hotpink;
}

.filter-field-div {
    text-align: center;
}

input#input {
    background-color: initial;
}

input[type=text] {
    background-color: initial;
}

#recipes {
    margin-top: 6%;
    text-align: center;
}

#recipes p {
    margin-bottom: 2%;
    margin-left: 33%;
    position: relative;
    width: 400px;
}

#recipes p i {
    color: #269CE9;
    left: 30%;
    border-bottom: 2px solid black;
    border-radius: 6px;
    position: absolute;
}

#recipes p i:hover {
    cursor: pointer;
    transform: scale(1.10);
}

#recipes p a {
    border-bottom: 2px solid black;
    border-radius: 6px;
}

#recipes p a:hover {
    border-bottom: 2px solid hotpink;
}

#recipe_form {
    text-align: center;
}


/* Ingredient and instructions page (edit.html) */

body.edit-page {
    background-image: url(/images/food4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.ingredient-parent #ingredients label {    /* Ingredient label */
    left: 46%;
    padding: 0px 6px;
    position: absolute;
}

button.ion-close-circled {
    background-color: initial;
    border: none;
    color: #269CE9;
    left: 43%;
    padding: 2px 2px 0px 2px;
    position: absolute;
}

button.ion-close-circled:focus,
button.ion-close-circled:hover {
    cursor: pointer;
    outline: none;
    transform: scale(1.10);
}

#hide-completed {
    text-align: center;
}

#hide-completed input[type="checkbox"] {
    margin-left: 5px;
}

#ingredient-form {
    text-align: center;
}

#ingredients {
    display: inline-block;
}

#ingredients p {
    border-bottom: groove 3px #269CE9;
    border-radius: 25px;
    margin-bottom: 3px;
    text-align: center;
    width: 450px;
}

input.check-box {
    left: 46%;
    position: relative;
}

.ingredient-parent {
    text-align: center;
}

.instruction-box {
    text-align: center;
}

.instruction-box span a i {
    font-size: 300%;
}

textarea {
    background-color: initial;
    border: groove 5px hotpink;
    width: 50%;
}

textarea:focus {
    border: groove 5px #269CE9;
    outline: none;
}

textarea::placeholder {
    color: #269CE9;
    font-family: 'Taviraj', serif;
}

textarea:focus::placeholder {
    color: hotpink;
}

/* recipe names/links (index.html) */
#recipes a:link, a:visited {
    text-decoration: none;
}

#recipes a:hover {
    border-top: 2px solid hotpink;
}

.row span a {
    left: 10%;
    position: absolute;
    top: 36%;
}


/* Buttons */

button.recipe-ingredient {
    background-color: #269CE9;
    display: inline-block;
    zoom: 1;
    padding: 6px 20px 2px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 14px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.recipe-ingredient {
    background-color: #269CE9;
    border-color: #269CE9;
}

button.recipe-ingredient:hover {
    background-color: #70B9E8;
}

button.recipe-ingredient:active {
    background: #269CE9;
}

button.recipe-ingredient[disabled], button.recipe-ingredient[disabled]:hover, button.recipe-ingredient[disabled]:active {
    border-color: #269CE9;
    background: #269CE9;
    color: #93D5FF;
}